body{
  font-family: sans-serif;
  margin:0;
}
h1,h2,h3,h4,h5,h6{
  color: #454545;
  padding: 10px;
  margin:0;
}
hr{
  border:none;
  border-bottom:1px solid #eee;
}
a{
  color:#08f;
  text-decoration: none
}
a:hover{
  text-decoration: underline
}

#time_circle{
  text-align: center;
  margin: 2em;
}
#time_circle svg{
  margin:auto;
}

#time_circle line{
  stroke: #000;
  stroke-width: 10;
  stroke-linecap: round;
  transition: stroke .2s;
}
#time_circle circle{
  fill:none;
  stroke: #aaa;
}

#time_count{
  color:#fff;
  transition: color .1s;
  font-size: 4em;
  margin: .5em;
  text-align: center;
  font-weight: bold;
}

#time-buttons{
  padding:0;
}
#time-buttons li{
  list-style:none;
  background: #E8E8E8;
  font-size:1.5em;
  margin:.5em;
  padding:2em;
  border-radius: .25em;
  width: 50%;
  transition: all .5s;
}
#time-buttons li.active{
  background: #8EA8BE;
  /* border: 1px solid rgb(104, 104, 110); */
  color: #fff;
  /* box-shadow: rgb(184, 184, 184) 0 1px 5px; */
  cursor: pointer;
}


#time-buttons li .cancel{
  display: none;
  background: rgb(142, 168, 190);
  float: right;
  width: 1em;
  text-align: center;
  border-radius: 100%;
  padding: .5em;
  /* position: absolute; */
  /* right: 0; */
  margin-top: -.5em;
  margin-right: -1em;
  color: rgb(232, 232, 232);
}


#time-buttons li.last .cancel{
  display: block;
}